@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

  /* common css page start  */
  :root {
      --primary-color: #1C3664;
      /* --secondary-color: white; */

  }

  * {
      box-sizing: border-box;
      list-style-type: none;
      margin: 0;
      padding: 0;
      outline: none;
      text-decoration: none;
  }

  html {
      scroll-behavior: smooth;
  }

  body {
      font-family: 'Inter Tight', sans-serif;
  }

  /* common css page end */

  /* our amazing service page start */
 

  /* our amazing service page end */