/* mobile devices start  */
@media only screen and (max-width: 374px) and (min-width: 320px) {

    /* it solution page start  */
    .container {
        padding: 10px;
    }

    .it_solution_heading {
        font-size: 18px;
    }

    .it_solution_explore a {
        font-size: 14px;
    }

    .it_solution_service {
        flex-direction: column;
        align-items: center;
    }

    .it_solution_explore p::before {
        width: 150px;
    }

    .it_solution_item_icon {
        padding-left: 244px;
    }

    .it_solution_items {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .it_solution_logo img {
        max-width: 60px;
        margin-bottom: 10px;
    }

    .it_solution_items_title {
        font-size: 1.2em;
    }

    .it_solution_pera {
        font-size: 0.9em;
    }

    .it_solution_item_icon {
        display: block;
        margin-top: 5px;
    }

    .it_solution_line hr {
        width: 100%;
    }

    /* it solution page end */

    /* service section  start */

    .service_bg_color {
        width: fit-content;
    }

    .service_heading {
        font-size: 24px;
    }

    .service_item {
        width: 280px;
    }

    .trusted_company_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trusted_company_logo img {
        max-width: 80%;
        margin: 5px 0;
    }


    /* service section end */

    /* why choose page start */
    .why_choose_heading {
        font-size: 30px;

    }

    .slick-prev,
    .slick-next {
        display: block;
    }

    /* why choose page end */

    /* test talks section start  */
    .test_talks_heading {
        font-size: 30px;
    }

    /* test talks section end  */

    /* service page start  */
    /* service page of banner section start  */
    .service_banner_content h3 {
        font-size: 20px;
    }

    .service_banner_content h2 {
        font-size: 24px;

    }

    .service_banner_content p {
        margin-bottom: 175px;
        width: 240px;
        /* height: 222px; */
        font-size: 15px;
        /* padding: 30px 0px; */
    }

    /* service page of banner section end  */

    /* service page of our service section start  */
    .our_service_content h3 {
        font-size: 40x;
    }

    /* service page of our service section end  */

    /* service page of favourite section start  */
    .favourite_left_side iframe {
        width: 100%;
    }

    .favourite_first_content h3 {
        font-size: 50px;
    }

    .favourite_first_content i {
        font-size: 20px;
    }

    .favourite_first_content p {
        font-size: 15px;
    }


    .favourite_software_solution {
        flex-direction: column;
        align-items: flex-start;
    }

    .favourite_software_solution_left_side,
    .favourite_software_solution_right_side {
        width: 100%;
        justify-content: flex-start;
    }

    /* .favourite_software_solution_left_side_icon {
         font-size: 20px;
     } */

    .favourite_software_solution_left_side_content,
    .favourite_software_solution_right_side_content h5 {
        font-size: 16px;
    }

    .favourite_software_solution_left_side_content,
    .favourite_software_solution_right_side_content p {
        font-size: 14px;
    }

    .favourite_software_solution_right_side {
        margin-top: 10px;
    }

    /* service page of favourite section end  */

    /* service page of why choose join work section start  */
    .why_choose_join_work_part {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .why_choose_join_work_left_side img {
        width: 100%;

    }

    .why_choose_join_work_left_side {
        width: 100%;
        margin-bottom: 20px;
    }

    .why_choose_join_work_right_side {
        padding-left: 0;
    }

    .why_choose_join_work_right_side h1 {
        font-size: 20px;
    }

    .why_choose_join_work_right_side p {
        font-size: 14px;
    }

    .why_choose_join_work_btn {
        width: 100%;
    }

    /* service page of why choose join work section end  */

    /* service page of pricing table section start  */
    table thead {
        display: none;
    }

    /* Set table, tbody, tr, and td to block to stack them */
    table,
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 15px;
        border-bottom: 2px solid #ddd;
    }

    /* Set padding and alignment for table cells */
    td {
        padding: 10px;
        text-align: right;
        position: relative;
    }

    /* Add labels using data attributes */
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    }

    /* Style for pricing values */
    .pricing_table_price td {
        font-size: 1rem;
    }

    /* Adjust icons size */
    .pricing_table_icon i {
        font-size: 1rem;
    }

    /* Read more buttons full width */
    .pricing_table_read_more_btn {
        margin-top: 10px;
        width: 100%;
        display: block;
    }

    /* service page of pricing table section end  */
    /* service page end  */

    /* about page start  */
    /* team section start  */
    .team_member_image {
        padding: 5px;
    }

    .team_member_image img {
        width: 100%;
        height: auto;
    }

    /* team section end  */
    /* about page end  */
    /* footer page start  */
    .footer_booking_social_media {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_copyright {
        text-align: center;
    }

    /* footer page end */
}


@media only screen and (max-width: 424px) and (min-width: 375px) {

    /* it solution page start  */
    .container {
        padding: 10px;
    }

    .it_solution_heading {
        font-size: 18px;
    }

    .it_solution_explore a {
        font-size: 14px;
    }

    .it_solution_service {
        flex-direction: column;
        align-items: center;
    }

    .it_solution_explore p::before {
        width: 160px;
    }

    .it_solution_item_icon {
        padding-left: 298px;
    }

    /* it solution page end */

    .it_solution_explore p::before {
        width: 152px;
    }

    .service_item {
        width: 335px;
    }

    /* footer page start  */
    .footer_logo_section {
        text-align: center;
    }

    .footer_company_section {
        margin-top: 30px;
        text-align: center;
    }

    .footer_useful_link_section {
        margin-top: 30px;
        text-align: center;
    }

    .footer_booking_social_media {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_copyright {
        text-align: center;
    }

    /* footer page end */
}

@media only screen and (max-width: 767px) and (min-width: 425px) {

    /* it solution page start  */
    .container {
        padding: 10px;
    }

    .it_solution_heading {
        font-size: 18px;
    }

    .it_solution_explore a {
        font-size: 14px;
    }

    .it_solution_service {
        flex-direction: column;
        align-items: center;
    }

    .it_solution_explore p::before {
        width: 153px;
    }

    .it_solution_item_icon {
        padding-left: 350px;
    }


    /* it solution page end */

    .service_item {
        width: 382px;
    }

    /* footer page start  */
    .footer_logo_section {
        text-align: center;
    }

    .footer_company_section {
        margin-top: 30px;
        text-align: center;
    }

    .footer_useful_link_section {
        margin-top: 30px;
        text-align: center;
    }

    .footer_booking_social_media {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_copyright {
        text-align: center;
    }

    /* footer page end */
}

/* mobile devices end */

/* tab devices start  */
@media only screen and (max-width: 1198px) and (min-width: 768px) {
    .it_solution_item_icon {
        padding-left: 603px;
    }

    .service_item {
        width: 682px;
    }

    /* footer page start  */
    .footer_logo_section {
        text-align: center;
    }

    .footer_company_section {
        margin-top: 30px;
        text-align: center;
    }

    .footer_useful_link_section {
        margin-top: 30px;
        text-align: center;
    }

    .footer_booking_social_media {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_copyright {
        text-align: center;
    }

    /* footer page end */
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    /* .service_item {
        width: 802px;
    } */
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {}

/* tab devices end  */